body {
    width: 1440px;
    height: 1024px;
    margin: 0 auto; 
    overflow: hidden; 
    box-shadow: -2px 9px 43px 0px rgba(0, 0, 0, 0.75);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 700px;
}

.first-one {
    display: flex;
    flex-direction: column;
}

.div-title {
    font-size: 82px;
    width: 570px;
    margin: 0;
}

.div-text {
    width: 550px;
    font-size: 24px; 
    text-align: justify;
}

button {
    background-color: #333;
    padding: 20px;
    color: white;
    border-radius: 40px;
    width: 200px;
    font-size: 20px;
}

.img-div {
    width: 500px;
    height: 500px;
}

.container2 {
    display: flex;
    position: relative;
    padding: 30px 10px;
    background-color: #252525;
    border-radius: 40px;
    margin-right: 50px; 
    width: 1312px; 
    left: 64px;
    gap: 8px;
}

.block-one {
    margin-left: 50px;
}

.title2 {
    color: white;
    font-size: 40px;
}

.p2 {
    color: white;
    font-size: 30px;
}
